*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.image{
  width: 50%;
  height: 500px;
  /* background-image: url(../../imc/fundo.jpg); */


}

.image img{
   width: inherit;
   height: inherit; 
}

.hello{
  width: 50%;
  height: auto;
  background-color:#ecf0f1;
border-radius: 10px;
overflow: hidden;
padding: 77px 55px 33px 55px;
margin: auto;
  /* background-color: aqua; */
   
}
.dTitle{
  width: 100%;
  /* background-color: #483D8B; */
  color: black;
  /* margin-top: 30px; */
/* margin-top: auto; */
}

.texto{
  /* background-color: #6A5ACD; */
  width: 100%;
  height: 200px;
  margin-top: 40px;
  font-size: 1.8em;
  padding-left:50px ;
  padding-top: 10px;
}


.btnSingIn{
  width: 100%;
  /* background-color: #6A5ACD; */
  margin-top: -100px;
}

.cadastro{
    width: 50%;
    height: auto;
    background-color:#6A5ACD;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    /* background-color: aqua; */
}


.loader_container{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* background-color: chartreuse; */
}

.loader{
    width: 150px;
    margin-bottom: 30px;

}

.textCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .txt1 {
    font-size: 1.8em;
    color: #adadad;
    line-height: 1.5;
    padding-right: 7px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .txt2 {
    font-size: 1.4em;
    color: #483D8B;
    line-height: 1.5;
    text-decoration: none;
    padding-left: 8px;
  }


