.title{
    width: auto;
    height: 50px;
    display: flex;
    align-items:center ;
    justify-content: center;
    /* background-color: aquamarine; */
}

.titleBemVindo{
    color: black;
    font-size: 1.5em;
    /* background-color: aqua; */
    text-align: center;
    font-weight: bold;
   
  }
  .titleCadastro{
      font-family: Nunito, sans-serif;
      display: block;
      font-size: 1.5em;
      color: #ffffff;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 15px;
      font-weight: bold;
  } 